@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: red;
    width: 100%;
    height: 10vh;
    display: flex;
}

.header .titre {
    padding: 0 10px;
    line-height: 10vh;
    width: fit-content;
}

.header .menu {
    position: absolute;
    right: 0;
    display: flex;
}

.header .menu .lien {
    padding: 0 30px;
    line-height: 10vh;
    width: fit-content;
}

.presentation {
    display: flex;
    width: 100%;
    height: 50vh;
}

.presentation .photo {
    background-color: lightcyan;
    width: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentation .photo img {
    max-width: 100%;
    max-height: 100%;
}

.presentation .texte {
    background-color: lightgreen;
    width: 50%;
    padding: 10px;
    position: relative;
}

.presentation .texte .sous_titre {
    text-align: center;
    padding-top: 30px;
}

.presentation .texte p {
    text-align: center;
    padding: 30px;
    position: absolute;
    top: 50%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%);
}

.ggp {
    width: 100%;
    height: 40vh;
}

.ggp .maps {
    width: 100%;
    height: 100%;
    border: 0;
}

.separation {
    background-color: burlywood;
    height: 10vh;
    width: 100%;
}

.separation h1 {
    line-height: 10vh;
    font-size: 40px;
    text-align: center;
}

.presentation_sites.active {
    display: none;
}

.presentation_sites {
    background-color: aquamarine;
    width: 100%;
    height: 90vh;
}

.presentation_sites .introWeb {
    text-align: center;
    padding: 80px 40px;
}

.presentation_sites .switch {
    padding: 25px;
    margin: 40px;
    width: fit-content;
    cursor: pointer;
}

.sites {
    display: none;
}

.sites.active {
    width: 100%;
    height: 90vh;
    display: flex;
}

.sites .frame {
    width: 50%;
    height: 100%;
}

.sites .infos{
    background-color: darkgoldenrod;
    width: 50%;
    height: 100%;
}

.sites .infos .bloc {
    text-align: center;
    height: 30vh;
    padding: 20px;
}

.sites .infos .bloc .nom {
    padding: 10px;
}

.sites .infos .bloc .choix {
    padding: 15px;
}

.sites .infos .bloc .choix .button {
    padding: 10px;
    width: 15%;
    cursor: pointer;
}

.sites .infos .bloc .description {
    padding: 10px;
}

.langages {
    background-color: olive;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.langages.active {
    display: none;
}

.langages .c {
    padding: 50px;
}

.langages .c img {
    cursor: pointer;
}

.langages .python {
    padding: 50px;
}

.langages .python img {
    width: 256px;
    cursor: pointer;
}

.langages .java {
    padding: 50px;
}

.langages .java img {
    width: 256px;
    cursor: pointer;
}

.prog_c {
    display: none;
}

.prog_c.active {
    width: 100%;
    height: 80vh;
    display: flex;
}

.code {
    background-color: slategray;
    height: 100%;
    width: 50%;
}

.code .random {
    height: 100%;
    width: 100%;
}

.droite {
    height: 100%;
    width: 50%;
}

.droite .projets {
    background-color: chocolate;
    height: 70%;
    width: 100%;
    text-align: right;
}

.droite .projets .back {
    text-align: right;
    padding: 10px;
}

.droite .projets .back img {
    width: 20px;
    cursor: pointer;
}

.droite .telechargement {
    background-color: gold;
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.telechargement .windows {
    padding: 50px;
}

.telechargement .windows img {
    width: 50px;
    cursor: pointer;
}

.telechargement .linux {
    padding: 50px;
}

.telechargement .linux img {
    width: 50px;
    cursor: pointer;
}

.prog_python {
    display: none;
}

.prog_python.active {
    width: 100%;
    height: 80vh;
    display: flex;
}

.prog_java {
    display: none;
}

.prog_java.active {
    width: 100%;
    height: 80vh;
    display: flex;
}

.footer {
    background-color: steelblue;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer .copyright {
    width: fit-content;
    padding: 15px;
}

.footer .git {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.footer .fleche {
    position: absolute;
    right: 0;
}

.footer .fleche img {
    height: 8vh;
}